:root {
    --sl-font: 'Regular Font', sans-serif;
    --sl-font-bold: 'Headlines Font', sans-serif;
    --sl-content-width: 60rem;
    --sl-text-5xl: 2.5rem;
   /* --sl-color-gray-6: #171A21;
    --sl-color-black: #23262C;
    */
    --sl-sidebar-pad-x: 0.5rem;
    --sl-sidebar-width: 17rem;
    --sl-sidebar-width-closed: 4rem;
    --sl-sidebar-width-open: 17rem;
    --sl-sidebar-transition: width 0.2s ease-in-out;
    --sl-text-h1: 36px;
    --sl-text-h2: 24px;
    --sl-text-h3: 20px;
}

.text-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}

.full-width {
    width: 100%;
}